/* Header style start */

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 452px;
    height: 92px;
    background: #1C1E53;
}
.header__logo {
    width: 122px;
    height: 25px;
}
.header-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 32px;
    font-weight: 500;
}
.header-nav__list {
    display: flex;
    flex-direction: row;
    gap: 32px;
}
.header-nav__item:first-child > a {
    color: #FFFFFF;
}
.header-nav__contact-us-btn {
    box-sizing: border-box;
    width: 185px;
    height: 60px;
    border: 2px solid rgba(244, 246, 252, 0.2);
    line-height: 28px;
    color: #FFFFFF;
    background: #1C1E53;
}

/* Header style end */
